# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Root Level
# =========================
node_modules/
dist/
dist-ssr/
.vite/
*.local

# Environment files
.env
.env.local

# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env
frontend/.env.local

# =========================
# Backend
# =========================
backend/node_modules/
backend/backups/*
backend/.env

# =========================
# Build / Cache
# =========================
coverage/
.cache/
temp/
tmp/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor Files
# =========================
.vscode/*
!.vscode/extensions.json

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?